html {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    max-width: 80%;
}
ul li {
    list-style-type: none;
    color: #fff;
    min-width: 14rem;
    cursor: pointer;
    position: relative;
    padding: 12px 40px 12px 40px;
    background: none;
    border-radius: 1rem;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: none;
}

ul li:hover {
    background: #888;
}

ul li.checked {
    background: #888;
    color: #111;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

input {
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #eee;
    text-align: center;
    border: none;
    border-color: none;
}

textarea:focus, input:focus{
    outline: none;
}

.add-button {
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #26b24b;
    text-align: center;
}

.add-button:hover {
    background-color: #2ec24b;
}

.clear-button {
    padding: 0.5rem;
    margin-bottom: 2rem;
    min-width: 7rem;
    border-radius: 1rem;
    background-color: #26b24b;
    text-align: center;
}

.clear-button:hover {
    background-color: #1a7e2e;
}

.checked {
    text-decoration: line-through;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,88,88);
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(88,88,88);
    width: 50vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 74vh;
    border-radius: 1rem;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-input {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,88,88);
    width: 100vw;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 90vw;
    }
}