html {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    text-align: center;
    font-size:larger;
    font-weight: bold;
    margin-top: 0.5rem;
}

input {
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #eee;
    text-align: center;
    border: none;
    border-color: none;
}

textarea:focus, input:focus{
    outline: none;
}

.add-button {
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #26b24b;
    text-align: center;
}

.add-button:hover {
    background-color: #2ec24b;
}

.clear-button {
    padding: 0.5rem;
    min-width: 7rem;
    border-radius: 1rem;
    background-color: #26b24b;
    text-align: center;
}

.clear-button:hover {
    background-color: #1a7e2e;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,88,88);
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(88,88,88);
    width: 50vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 74vh;
    border-radius: 1rem;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-input {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,88,88);
    width: 100vw;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
}